{% extends 'base.html' %}
{% load static %}
{% block title %}

    {% endblock %}
{% block content %}
<center>
    <div class="container mt-5 p-3 w-25" style="margin-bottom:100px;">
<h2 class="text-center">Add Stock Details</h2>
<form method="post">
     {% csrf_token %}
    <div class="mb-3">

  <input type="number" class="form-control" value="{{pro.stock}}" name="n" placeholder="Enter stock">
</div>




    <div class="mb-3">
<input type="submit" class="form-control">
</div>


</form>

{% endblock %}

